src/xml/telemoveis.xsd

<?xml version="1.0"?>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.example.org/telemoveis"
    xmlns="http://www.example.org/telemoveis"
    elementFormDefault="qualified">

    <xs:element name="telemoveis">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Telemovel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string" />
                            <xs:element name="nome" type="xs:string" />
                            <xs:element name="ecra">
                                <xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="4"/>
										<xs:totalDigits value="2" />
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="ram">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="99"/>
                                        <xs:totalDigits value="2" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="armazenamento">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="5000"/>
                                        <xs:totalDigits value="4" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="camara">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="6"/>
                                        <xs:totalDigits value="1" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="resolucao">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="200"/>
                                        <xs:totalDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="bateria">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1000"/>
                                        <xs:maxInclusive value="50000"/>
                                        <xs:totalDigits value="5" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="preco">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
										  <xs:minInclusive value="0"/>
										  <xs:totalDigits value="10" />
										  <xs:fractionDigits value="2"/>
										</xs:restriction>
									  </xs:simpleType>
								</xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Telemovel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string" />
                            <xs:element name="nome" type="xs:string" />
                            <xs:element name="ecra">
                                <xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="4"/>
										<xs:totalDigits value="2" />
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="ram">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="99"/>
                                        <xs:totalDigits value="2" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="armazenamento">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="5000"/>
                                        <xs:totalDigits value="4" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="camara">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="6"/>
                                        <xs:totalDigits value="1" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="resolucao">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="200"/>
                                        <xs:totalDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="bateria">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1000"/>
                                        <xs:maxInclusive value="50000"/>
                                        <xs:totalDigits value="5" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="preco">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
										  <xs:minInclusive value="0"/>
										  <xs:totalDigits value="10" />
										  <xs:fractionDigits value="2"/>
										</xs:restriction>
									  </xs:simpleType>
								</xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Telemovel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string" />
                            <xs:element name="nome" type="xs:string" />
                            <xs:element name="ecra">
                                <xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="4"/>
										<xs:totalDigits value="2" />
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="ram">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="99"/>
                                        <xs:totalDigits value="2" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="armazenamento">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="5000"/>
                                        <xs:totalDigits value="4" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="camara">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="6"/>
                                        <xs:totalDigits value="1" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="resolucao">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="200"/>
                                        <xs:totalDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="bateria">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1000"/>
                                        <xs:maxInclusive value="50000"/>
                                        <xs:totalDigits value="5" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="preco">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
										  <xs:minInclusive value="0"/>
										  <xs:totalDigits value="10" />
										  <xs:fractionDigits value="2"/>
										</xs:restriction>
									  </xs:simpleType>
								</xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Telemovel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string" />
                            <xs:element name="nome" type="xs:string" />
                            <xs:element name="ecra">
                                <xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="4"/>
										<xs:totalDigits value="2" />
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="ram">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="99"/>
                                        <xs:totalDigits value="2" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="armazenamento">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="5000"/>
                                        <xs:totalDigits value="4" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="camara">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="6"/>
                                        <xs:totalDigits value="1" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="resolucao">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="200"/>
                                        <xs:totalDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="bateria">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1000"/>
                                        <xs:maxInclusive value="50000"/>
                                        <xs:totalDigits value="5" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="preco">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
										  <xs:minInclusive value="0"/>
										  <xs:totalDigits value="10" />
										  <xs:fractionDigits value="2"/>
										</xs:restriction>
									  </xs:simpleType>
								</xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Telemovel">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string" />
                            <xs:element name="nome" type="xs:string" />
                            <xs:element name="ecra">
                                <xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:minInclusive value="4"/>
										<xs:totalDigits value="2" />
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="ram">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="99"/>
                                        <xs:totalDigits value="2" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="armazenamento">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="5000"/>
                                        <xs:totalDigits value="4" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="camara">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="6"/>
                                        <xs:totalDigits value="1" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="resolucao">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="200"/>
                                        <xs:totalDigits value="3" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="bateria">
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1000"/>
                                        <xs:maxInclusive value="50000"/>
                                        <xs:totalDigits value="5" />
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
                            <xs:element name="preco">
									<xs:simpleType>
										<xs:restriction base="xs:decimal">
										  <xs:minInclusive value="0"/>
										  <xs:totalDigits value="10" />
										  <xs:fractionDigits value="2"/>
										</xs:restriction>
									  </xs:simpleType>
								</xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>